.job-form {
  display: flex;
  flex-direction: column;

  // &__field {
  //   float: left;
  //   margin-left: 20px;
  // }

  &__label {
    display: block;
    width: 180px;
    font-size: 14px;
    font-weight: 700;
    margin-left: 47px;
    margin-bottom: 12px;
  }

  &__input {
    display: block;
    border: none;
    border-radius: 10px;
    height: 35px;
    margin-bottom: 22px;
    margin-left: 40px;
    width: 280px;
    padding: 9px;
  }

  &__button {
    background-color: #87cefa;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 35px;
    line-height: 21px;
    margin-bottom: 22px;
    margin-left: 37px;
    width: 280px;
  }
}
