.username {
  align-items: center;
  background-color: #87cefa;
  color: #fff;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 115px;
  justify-content: center;
  width: 360px;
}

h1 {
  font-size: 16px;
  font-weight: 700;
  margin: 25px 0 35px 17px;
}

.list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
