.header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;

  &__title {
    align-self: flex-start;
    display: flex;
  }

.header__logotitle {
  display: flex;
  justify-content: flex-start;
}

.header__list {
  display: flex;
  justify-content: flex-end;
}

.list-item {
  display: inline;
  margin: 0 5px;
}