.header {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-around;

  &__title {
    align-self: flex-start;
    display: flex;
  }

  &__title1 {
    color: #87cefa;
    font-size: 18px;
  }

  &__title2 {
    color: #000;
    font-size: 18px;
  }

  &__login {
    font-size: 18px;
    background-color: #ffffff;
    border: none;
  }

  &__my-profile {
    background-color: #87cefa;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    height: 30px;
    width: 80px;
  }

  &__add-job {
    background-color: #fff;
    border: none;
    color: #87cefa;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
  }

  &__logout {
    background-color: #ffffff;
    border: none;
    font-size: 18px;
  }
}
