.detail-header {
  background-color: #87cefa;
  height: 135px;
  color: #fff;
  padding: 15px 15px;
}

.detail-job-title {
  font-weight: bold;
  margin-top: 0;
}

.detail-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 15px 15px;
}
