.detail {
  display: flex;
  flex-direction: column;
}

.detail-header {
  background-color: #87cefa;
  height: 135px;
  color: #fff;
  padding: 15px 15px;
}

.detail-job-title {
  font-weight: bold;
  margin-top: 0;
}

.detail-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: #fff;
  padding: 15px 15px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 0 15px;
  align-self: flex-start;
}

.detail-item-title {
  font-weight: bold;
  padding: 10px 0;
}
